@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  /* Active tab styling */
  .active-button {
    @apply border-b-4 border-[rgb(0,199,255)] text-[rgb(0,199,255)] font-bold flex-1 border-white text-center py-2;
  }

  /* Inactive tab styling */
  .inactive-button {
    @apply border-b border-white text-white/75 hover:text-white flex-1 border-white text-center py-2;
  }
}
body {
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.perspective {
  perspective: 1000px;
}

/* allow the inner to preserve-3d */
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

/* hide the “back” when face-on */
.backface-hidden {
  backface-visibility: hidden;
}

/* map class names to actual transforms */
.rotate-y-180 {
  transform: rotateY(180deg);
}